.keypad-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 77%;
    padding: 2%;
    width: 96%;
}

.numbers-container {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     height: 80%;
     width: 75%;
    
}

.operators-container {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 25%;
   
}