.key-container {
    align-items: center;
    display: flex;
    height: 25%;
    justify-content: center;
    transition: background-color 0.3s linear;
}

.key-container:hover{
    cursor: pointer;
}
.operator-key{
    width: 100%;
    background-color: #545454;
}

.operator-key:hover {
    background-color:#2a2a2a;
}
.number-key {
    background-color:#696969;
    width: calc(100%/3);
}
.number-key:hover {
    background-color:#3f3f3f;
}
.submit-key{
    background-color: #aa6e00;
    height: 100%;
    width: 100%;
}

.submit-key:hover {
    background-color:#1111;
}
.submit-container {
    height: 20%;
    width: 100%;
}
.key-value {
    color: #d3d3d3;
    font-family: 'Orbitron',sans-serif;
    font-weight: 600;
    font-size: 3em;
}

@media screen and (max-width: 1024px){
    .key-value{
        font-size:3em;
    }
}